@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/site.css">


<div class="container">
    <img src="fotodepablo.png" alt="Pablo">
    <form id="enviarCorreo">
        <button type="submit">Pablo</button>
    </form>
</div>
<script src="~/js/guias.js"></script>