@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css">

<div class="museum-container">
    <h1>Bienvenido a Guía-Mex</h1>
    <div class="artwork">
        <a href="historia.html"><img src="~/images/vaso1.jpg" alt="HackMexico"></a>
        <a href="historia.html"><img src="~/images/vaso1.jpg" alt="Vaso"></a>
        <a href="historia.html"><img src="~/images/vaso1.jpg" alt="2024"></a>

    </div>
</div>