@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/home.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7PjYNzuXRim312wml7qzm2mIdLqCbaY0&libraries=places&callback=initMap" async defer></script>
<link rel="stylesheet" href="~/css/maps.css">

<!-- resize it -->

<div class="wrapper">

	<h1>Bienvenido Pepe</h1>

	<p>Aqui tienes un listado de los lugares mas iconicos cercanos a ti</p>

	<section class="menu"></section>
	<div id="map"></div>



</div>
<!-- /.wrapper -->


<script src="~/js/maps.js"></script>

<script src="~/js/home.js"></script>