@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/maps.css">

<h1>Monumentos Históricos con 4 Estrellas cerca de mí</h1>
<!-- Div para el mapa -->
<div id="map"></div>

<script src="~/js/maps.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7PjYNzuXRim312wml7qzm2mIdLqCbaY0&libraries=places&callback=initMap" async defer></script>